@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --title-font: 'MuseoModerno';
    --text-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.logo {
    min-width: fit-content;
    width: 30em;
    
    background-color:  skyblue;
    background-image: linear-gradient(90deg,skyblue, white);

    padding: 20px 30px;
}

.logo a {
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 500;
    

    text-decoration: none;

    color: white;
}

.hero {
    margin: 100px 25px 0px 50px;
}

.hero h1 {
    font-family: var(--title-font);
    font-size: 35px;
    font-weight: 900;
    font-style: italic;

    line-height: 1;

    padding-bottom: 30px;
}

.hero p {
    font-family: var(--text-font);

    padding-bottom: 50px;
}

.container {
    width: 70%;

    font-family: var(--text-font);

    margin: auto;
    padding: 20px 32px;
    
    border-radius: 8px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container h3 {
    font-size: 1.5em; 
}

.social-signup {
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

button {
    padding: 8px;
    border-radius: 8px;
    
    font-size: 1em;
    font-weight: 600;

    cursor: pointer;
}

.container .social-signup button {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border: 1px solid lightgray;
    background: transparent;
    color: gray
}

.container .social-signup .facebook:hover {
    color: steelblue;
}

.container .social-signup .google:hover {
    color: black;
}

.container .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    margin: 16px 0px;
    
    color: gray;
}

.container .divider .line   {
    width: 100%;
    
    border: 1px solid lightgray;
    opacity: 0.5;
}

.container form .customer-input {
    position: relative;
}

.container form .customer-input label {
    display: block;

    font-size: 14px;
    font-weight: 600;

    color: gray;
    
    margin-top: 10px;   
}

.container form .customer-input input {
    width: 100%;

    font-size: 14px;
    
    margin-top: 5px;
    padding: 8px;
    text-indent: 5px;
    
    outline: none;
    border-radius: 8px;
    border: 1px solid lightgray;
    background: transparent;
    color: gray; 
}

.container form .customer-input i {
    position: absolute;
    top: 30px;
    right: 10px;
    color: gray;
}

.container form .customer-input input:focus {
    border-color: gray;
    color: black;
}

.container form .customer-input input:user-invalid {
    background-color: pink;
    border-color: red;
    color: darkred;
}

.container form .customer-input input:focus:user-invalid {
    background-color: transparent;
    border-color: red;
    color: black;
}

.container form .customer-input input:valid {
    background-color: lightgreen;
    border-color: green;
    color: darkgreen;
}

.container form .customer-input input:focus:valid {
    background-color: transparent;
    border-color: green;
    color: black;
}

.container form .customer-input input:focus + i {
    color: black;
}

.container form .customer-input input:user-invalid + i {
    color: red;
}

.container form .customer-input input:focus:user-invalid + i {
    color: black;
}

.container form .customer-input input:valid + i {
    color: green;
}

.container form .customer-input input:focus:valid + i {
    color: black;
}

.container form .signup {
    width: 100%;

    margin-top: 16px;

    font-size: 1.2em;
    line-height: 1.5;

    border: none;
    background-color: skyblue;
    color: white;
    
}

.container form .signup:hover {
    background-color: lightskyblue;
}

.container form .links {
    margin-top: 16px;

    font-size: 14px;
}

.container form .links a {
    text-decoration: none;
    color: skyblue
}

.container form .links a:hover {
    text-decoration: underline;
}